h1 {
    color: blue;
    text-align: center;
}

.container {
    display: flex;
    gap: 20px; /* space between the content and sidebar */
    padding: 20px;
}

.main-content {
    flex: 3;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 4%;
}

.sidebar {
    flex: 1;
    background-color: #ddd;
    padding: 15px;
    min-width: 200px;
    border-radius: 4%;
    padding-top: 0%;
}

/* Responsive Design: Stack them on mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.titlebar {
    margin-top: 0;
    background-color: blue;
    min-width: 200px;
    color:#f4f4f4;
    padding-left: 2%;
}