.wrapper {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.sidebar_toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;

    color: white;
    background: rgb(255, 140, 0);
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    cursor: pointer;
}

.sidebar_toggle:hover {
    background: rgb(255, 119, 0);
}

.sp-icon-close {
    display: none !important;
}

.sidebar {

}