<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EITB2</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="wrapper">
        <div class="main">
            <h1>EITB2</h1>
            <p>ahhhhhh</p>
            <form action="{{ url_for('home') }}" method="post">
                <label for="page_query">Enter any Wikipedia page:</label>
                <input 
                    type="text" 
                    id="page_query" 
                    name="wiki_page" 
                    placeholder="Search Wikipedia..." 
                    required
                >
                <button type="submit">Search</button>
            </form>
        </div>
        <button class="sidebar_toggle" type="button">
            <span class="material-icons sp-icon-open">keyboard_double_arrow_left</span>
            <span class="material-icons sp-icon-close">keyboard_double_arrow_right</span>
        </button>
        <div class="sidebar">
            Side panel content
        </div>
    </div>

</body>
</html>